<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/input.css">

    <title>Vinton</title>
</head>
<body>



    <!-- <form class="form-container"> -->

    <div class="authication-form">
        <div id="intro-form" class="active">
            <input type="text" name="mainCallid" id="main-callid">
            <button id="auth" class="btn-rd-mn">Continue</button>
        </div>
        <div id="signin">
            <input type="text" name="callid" id="callid">
            <input type="text" name="password" id="password">
            <input type="hidden" name="valideMail" id="valideMail">
            <input type="hidden" name="validePass" id="validePass">
            <button id="signin-btn" class="btn-rd-mn">Continue</button>
        </div>
        <div id="signup">
            <input type="text" name="newCallid" id="new-callid">
            <input type="text" name="newPassword" id="new-password">
            <input type="text" name="rePassword" id="re-password">
            <input type="hidden" name="valideMail" id="valideMail">
            <input type="hidden" name="validePass" id="validePass">
            <button id="signup-btn" class="btn-rd-mn">Continue</button>
        </div>
    </div>
    <!-- </form> -->




    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="module" src="js\auth.js"></script>
    <!-- <script type="module" src="path/to/auth.js"></script> -->
    <script type="module" src="js/signin.js"></script>
    <script src="js/signup.js"></script>
</body>
</html>